@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:focus { outline: none; }

html { display: none; }

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 1.05em;
    color: #0c001a;
}

#navbar {
    margin: 1.5em 0;
    padding: 0 3em;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #logo { height: 60px; display: flex; }

#logo img { height: -webkit-fill-available; }
#logo #toggle-icon { display: none; }

#navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

#navbar li a {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5em 1.5em;
    color: inherit;
    border-radius: 5px;
}

#navbar li a:hover { color: #5100ad; }

#navbar a.active {
    color: #f1e6ff!important;
    background-image: linear-gradient(to right, #5100ad, #a04dff);
}

#headline {
    background-image: linear-gradient(to right, #5100ad, #a04dff);
    margin-bottom: 2rem;
}

#headline section {
    margin: auto;
    padding: 0.75em 5vw;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1e6ff;
}

#headline h4 {
    margin: 2px;
    font-size: 0.8em;
    font-weight: 400;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 3vw;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.row-center { justify-content: center; }
.row-around { justify-content: space-evenly; }
.row-between { justify-content: space-between; }

.row .row { margin-top: 20px; }

.title {
    margin: 0 10px;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.7;
}

.btn {
    align-self: center;
    padding: 7.5px 15px;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 5px;
}

.bg-page {
    color: #f1e6ff;
    background-image: linear-gradient(to right, #5100ad, #a04dff);
}

.bg-light-border {
    color: #5100ad;
    background-color: transparent;
    border: 2px solid #5100ad;
}

.top-wrapper, .top-wrapper li {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.top {
    height: 70px;
    margin: 5px;
    border-radius: 20px;
    padding: 7px 14px;
    text-decoration: none;
    background-image: linear-gradient(to right, #5100ad, #a04dff);
    display: flex;
    flex-direction: column;
    color: #f1e6ff;
    position: relative;
}

.top-name {
    font-size: 15px;
    font-weight: 300;
}

.top-value {
    font-size: 27px;
    font-weight: 400;
}

.top-change {
    display: flex;
}

.top-change .change-icon {
    height: 20px;
}

.top-change .change-value {
    font-size: 15px;
    line-height: 20px;
}

.top-icon {
    width: 30px;
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
    border: 3px solid;
    border-radius: 30px;
    
}

::placeholder {
    color: #f1e6ff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align-last: center;
}

select option {
    color: #0c001a;
}

.coin-table { font-size: 1.05rem; width: 100%; color: #3c0080; }

.ctd { text-align: left; }
.hr { height: 1px; background-image: linear-gradient(to right, white 5%, #3c008050 50%, white 95%); }

.ctd:nth-child(1) { width: 2.5%; text-align: center; }
.ctd:nth-child(2) { width: 4%; text-align: center; }
.ctd:nth-child(3) { width: 17.5%; text-align: left; }
.ctd:nth-child(4) { width: 12%; text-align: left; }
.ctd:nth-child(5) { width: 14%; text-align: left; }
.ctd:nth-child(6) { width: 14%; text-align: left; }
.ctd:nth-child(7) { width: 15%; text-align: left; }
.ctd:nth-child(8) { width: 10%; text-align: left; }
.ctd:nth-child(9) { width: 11%; text-align: right; }

th.ctd { font-size: 0.75rem; font-weight: 500; text-transform: uppercase; }

td.ctd:first-child { color: #0c001a; opacity: 0.4; }

.coinicon { height: 30px; }

.coinname { font-size: 1rem; font-weight: 800; }
.coinabbr { font-weight: 400; color: #0c001a; opacity: 0.6; }

.ctd canvas {width: 100%; }

.change-val img { height: 24px; position: relative; top: 6px; }

.bitval { font-size: 0.9rem; color: #0c001a; opacity: 0.6; }
.bitval img {
    height: 16px;
    opacity: 0.6;
    margin-right: 1px;
    position: relative;
    top: 2.5px;
}

.ul img, .ll img { height: 16px; }

.page { margin: 7vh 0; }
.page a:hover { background-color: #f1e6ff; }

.news-wrapper, .news-wrapper li {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.news { text-decoration: none; }

.news-fig {
    height: 40vh;
    color: #3c0080;
    border: 1px solid #0c001a88;
    border-radius: 20px;
    padding: 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.news-fig img {
    margin: 0;
    width: 100%;
    height: 25vh;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #5100ad;
    background-image: linear-gradient(45deg, #5100ad, #c999ff);
    background-image: url("/images/news.jpg");
    background-position: left;
    background-size: cover;
}

.news-headline {
    margin: 2vh 3vh;
    font-size: 1.3rem;
    font-weight: 500;
}

.datestamp {
    color: #0c001a;
    opacity: 0.5;
    font-size: 0.8rem;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/* .coinrow { transition: .3s; }

.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-image: linear-gradient(white 60%, transparent);
} */

footer {
    height: 60vh;
    margin-top: 22vh;
    padding-top: 3vh;
    background-color: #e6e6e6;
    background: linear-gradient(180deg, #e6e6e6 86%, #b3b3b3 86%);
}

.links-container {
    height: 85%;
    width: 92vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-container * {
    text-decoration: none;
    list-style: none;
    color: #4d4d4d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.links-container a:hover * { color: #3c0080; }

.footer-links {
    flex-basis: 70%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.link-head {
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #3c0080;
    padding-top: 17px;
}

.footer-1 {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-1 ul {
    width: 20%;
    flex-basis: 20%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-1 .link-head { height: 50px; vertical-align: top; }

.footer-1 .link-head img { width: 110%; position: relative; top: -20px; }

.footer-2 {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
}

.footer-2 ul {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.newsletter {
    flex-basis: 40%;
    margin-top: 15px;
}

.newsletter input {
    height: 30px;
    background-color: #b3b3b3;
    color: white;
    font-size: 17px;
    width: 80%;
    margin-right: 1%;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
}

.newsletter button {
    height: 30px;
    vertical-align: top;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.newsletter button img { height: -webkit-fill-available; }

.downloads { flex-basis: 40%; display: flex; }

.downloads a { flex-basis: 50%; }

.downloads img { height: 40px; margin-top: 10px; }

.footer-news {
    flex-basis: 30%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.footer-news ul { height: 90%; width: 80%; display: flex; flex-direction: column; justify-content: space-around; }

/* .footer-news .link-head { flex-shrink: 0.5; } */

.news-body img { height: 45px; border-radius: 5px; position: absolute; }
.news-details { height: 45px; margin-left: 70px; display: flex; flex-direction: column; justify-content: space-between; }

.news-head { font-weight: 600; font-size: 13px; }
.news-date { font-size: 12px; }

.end-container {
    height: 15%;
    width: 92vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.end-container span {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social img {
    height: 30px;
    margin-left: 10px;
}


/* Extra large devices  ->  1200px  -   ..... */


/* Large devices        ->  992px   -   1200px */
@media screen and (max-width: 1200px) {
    #navbar li a{
        font-size: 0.9em;
        padding: 0.5em 0.7em;
    }
}

/* Medium devices       ->  768px   -   992px */
@media screen and (max-width: 992px) {
    #navbar {
        padding: 0 1em;
    }

    #navbar li a{
        font-size: 0.8em;
    }    

    .col-md { flex-direction: column; }

    .col-md input { flex-basis: 70%; }
    .col-md select { flex-basis: 30%; }

    .coin-table { font-size: 0.85rem; }
    
    th.ctd { font-size: 0.7rem; }
    
    .coinname { font-size: 0.95rem; }
    
    .bitval { font-size: 0.8rem; }

    footer { height: 150vh; margin-top: 10vh; }

    .links-container { flex-direction: column; }

    .footer-links { flex-basis: 50%; }
    .footer-news { flex-basis: 50%; align-items: center; }
    
    .footer-news ul { align-items: center; }

    .end-container { flex-direction: column; justify-content: space-around; }
}

/* Small devices        ->  600px   -   768px */
@media screen and (max-width: 768px) {
    .hidden-small {
        display: none;
    }
    
    #navbar {
        flex-direction: column;
        justify-content: center;
        min-height: 50px;
        height: fit-content;
        margin: 1em 0;
    }

    #navbar #logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #logo #toggle-icon {
        display: flex;
        align-self: center;
        margin-right: 10px;
    }

    #navbar ul {
        margin: 10px;
        background-color: white;
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: stretch;
        display: none;
        transition: ease-in-out;
        transition-delay: all 1s;
    }
    
    #navbar li a {
        display: flex;
        font-size: 1em;
    }

    #toggle-icon {
        width: 40px;
        height: 40px;
        display: flex;
        box-sizing: border-box;
        border: 2px solid #5100ad;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        justify-self: flex-start;
        align-self: flex-end;
        cursor: pointer;
        margin: 0;
    }
      
    .icon-bar {
        height: 2px;
        width: 25px;
        margin: 3px;
        background-color: #5100ad;
    }

    .toggle-view { display: flex!important; }

    .title { font-size: 1.5rem; }
    
    .coin-table { font-size: 0.75rem; }

    .coinrow { height: 65px; }

    .ctd:nth-child(1) { width: 4%; }
    .ctd:nth-child(2) { width: 8%; }
    .ctd:nth-child(3) { width: 32%; }
    .ctd:nth-child(4) { width: 25%; }
    .ctd:nth-child(5) { width: 31%; }
    .ctd:nth-child(n+6) { display: none; }

    th.ctd { font-size: 0.65rem; }

    .coinname { font-size: 0.85rem; }

    .bitval { font-size: 0.75rem; }

    .news-fig { margin: 0 5px; }

    footer { height: 180vh; }

    .link-head { height: 60px; font-size: 20px; }

    .footer-links { flex-basis: 65%; }
    .footer-news { flex-basis: 35%; }

    .footer-1 { flex-basis: 75%; flex-wrap: wrap; }
    .footer-1 ul { margin: 0; flex-basis: 50%; }
    .footer-1 .link-head img { width: 90%; }

    .footer-2 { flex-basis: 25%; flex-direction: column; }

    .footer-news { margin-top: 40px; align-items: flex-start; }
    .footer-news ul { width: 100%; align-items: flex-start; }
}

/* Extra small devices  ->  .....   -   600px */
